!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title 
      = data.page.title || "One Morgan Place"
    :css
      /* Based on The MailChimp Reset INLINE: Yes. */  
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{
        width:100% !important; 
        -webkit-text-size-adjust:100%; 
        -ms-text-size-adjust:100%; 
        margin:0; 
        padding:0;
        font-family: trebuchet, arial, sans-serif;
        } 
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/ 
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */  
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ 
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important; background:#ffffff;}
      /* End reset */

      /* Some sensible defaults for images
      Bring inline: Yes. */
      img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
      a img {border:none;} 
      .image_fix {display:block;}

      /* Yahoo paragraph fix
      Bring inline: Yes. */
      p,ul {margin: 1em 0; font-size:12px;}

      /* Hotmail header color reset
      Bring inline: Yes. */
      h1, h2, h3, h4, h5, h6 {color: black !important;}

      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}

      h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      color: red !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
      }

      h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      color: purple !important; /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
      }

      /* Outlook 07, 10 Padding issue fix
      Bring inline: No.*/
      table td {border-collapse: collapse;}

      /* Remove spacing around Outlook 07, 10 tables
      Bring inline: Yes */
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

      /* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
      Bring inline: Yes. */
      a {color: #912;}

      h2 {
        border: 2px solid #912; 
        background-color: #ddd; 
        padding: 10px; 
        font-family: Arial, Helvetica, sans-serif; 
        color: #333;
        line-height:1;
        }



      /***************************************************
      ****************************************************
      MOBILE TARGETING
      ****************************************************
      ***************************************************/
      @media only screen and (max-device-width: 480px) {
      	/* Part one of controlling phone number linking for mobile. */
      	a[href^="tel"], a[href^="sms"] {
      				text-decoration: none;
      				color: blue; /* or whatever your want */
      				pointer-events: none;
      				cursor: default;
      			}

      	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      				text-decoration: default;
      				color: orange !important;
      				pointer-events: auto;
      				cursor: default;
      			}

      }

      /* More Specific Targeting */

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      /* You guessed it, ipad (tablets, smaller screens, etc) */
      	/* repeating for the ipad */
      	a[href^="tel"], a[href^="sms"] {
      				text-decoration: none;
      				color: blue; /* or whatever your want */
      				pointer-events: none;
      				cursor: default;
      			}

      	.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      				text-decoration: default;
      				color: orange !important;
      				pointer-events: auto;
      				cursor: default;
      			}
      }

      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      /* Put your iPhone 4g styles in here */ 
      }

      /* Android targeting */
      @media only screen and (-webkit-device-pixel-ratio:.75){
      /* Put CSS for low density (ldpi) Android layouts in here */
      }
      @media only screen and (-webkit-device-pixel-ratio:1){
      /* Put CSS for medium density (mdpi) Android layouts in here */
      }
      @media only screen and (-webkit-device-pixel-ratio:1.5){
      /* Put CSS for high density (hdpi) Android layouts in here */
      }
      /* end Android targeting */

    / Targeting Windows Mobile
    /[if IEMobile 7]
      <style type="text/css">
      
      </style>
    /
      ***********************************************
      ****************************************************
      END MOBILE TARGETING
      ****************************************************
      ************************************************
    /[if gte mso 9]
      <style>
      \/* Target Outlook 2007 and 2010 */
      </style>
  %body
    / Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag.
    %table#backgroundTable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{:valign => "top"}
          / Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message.
          %table{:align => "center", :border => "0", :cellpadding => "20", :cellspacing => "0", :bgcolor => "#ffffff", :style => "border:solid 1px #000; margin-top:20px;"}
            %tr
              %td{:valign => "top", :width => "600", :colspan => "3"}
                %img{:alt => "ONE MORGAN PLACE :: Community Bulletin", :border=> "0", :src => "https://origin.ih.constantcontact.com/fs004/1101808979937/img/222.gif", :style => "margin-left: auto; margin-bottom: 5px; display: block;", :width => "590"}/
                %p{:style => "border: 2px solid #912; margin: 0px; background-color: #912; padding: 10px; font-family: Futura, Arial Bold, sans-serif; color: #fff; text-align: right; text-transform: uppercase;"} 
                  Volume #{data.page.volume}, Issue #{data.page.issue} | #{data.page.date}
                %p{:style => "font-size:12px;line-height:16px;font-family:Arial,Helvetica,sans-serif;color:#010101;font-weight:bold;width:580px;margin-left:auto;margin-right:auto"}
                  <span style="color:#912">IN THIS ISSUE:</span>
                  - for page in current_page.children
                    = link_to page.data.title, '#'+page.url, :style => "color:#010101; text-decoration:none"
                    <span style="font-family:Arial Black,Arial Bold,Helvetica Bold,sans-serif;line-height:14px;font-size:14px;color:#991122;font-weight:bold">::</span>
                = yield
                - @pages = current_page.children
                - for page in @pages
                  %h2{ :id => page.url }= ":: " + page.data.title.to_s
                  = render :markdown, page.url
                - if current_page.data.events
                  = partial "layouts/partials/events"
            %tr
              %td{:valign => "top", :width => "600", :colspan => "3"}
                / Gmail/Hotmail image display fix
                /
                  Working with telephone numbers (including sms prompts).  Use the "mobile" class to style appropriately in desktop clients
                  versus mobile clients.
                %div{:style => "padding:10px 0px 10px 10px;width:590px;min-height:111px;border:0px;margin:0px;padding:10px;background-color:#0e0e0e!important"}
                  %img.image_fix{:style => "float:right;display:inline", :alt => "Your alt text", :height => "x", :src => "https://origin.ih.constantcontact.com/fs004/1101808979937/img/228.gif", :title => "College logo in black", :width => "113"}/
                  %p{:style => "line-height:17px;color:#ffffff;text-align:left;font-family:Arial Black,Arial Bold,Helvetica,sans-serif;font-size:16px;line-height:18px;margin:0px 0px 5px 0px"}
                    %span{:style => "color:#cbcbcb"}
                      %br>/
                      SUBMISSION DEADLINE:
                    = succeed "THURSDAY" do
                      %br/
                    AT NOON
                  %p{:style => "line-height:17px;font-size:10pt;color:#ffffff;text-align:left;font-weight:bold;font-family:Arial,Helvetica,sans-serif"}
                    Send items for inclusion in
                    %br/
                    %em
                      %span.il One
                      %span.il Morgan
                      %span.il Place
                    to Nicole Wroten at
                    %a{:href => "mailto:nwroten@antiochcollege.org", :style => "color:#ffffff;font-weight:bold;text-decoration:none;font-size:10pt", :target => "_blank"} nwroten@antiochcollege.org.
